@media (min-width: 768px) {
    nav {
        padding: 0;
        overflow: hidden;
    }

    nav ul {
        display: flex;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
        margin: 0;
    }

    #menu {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    .main-content {
        flex-direction: row;
    }

    .card {
        flex: 1;
        /* This is the default flex value */
    }

    .card.larger {
        /* Target the larger card specifically */
        flex: 3;
        /* Set flex-grow to 3 */
    }

    .card.smaller {
        /* Target the smaller card specifically */
        flex: 1;
        /* Set flex-grow to 1 */
    }
}